
/* Table styling */
.expenses {
    width: 100%;
    border-collapse: collapse; /* Ensure borders do not double up */
    background-color: aquamarine;
}

/* Table header */
.expenses th {
    background-color: #998877;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #333;
}

.message {
    color: rgb(155, 148, 148);
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
  }
/* Table cells */
.expenses td {
    padding: 10px;
    border: 1px solid #333; /* Add border to each cell */
}

/* Table rows */
.expenses tr:nth-child(even) {
    background-color: #f2f2f2; /* Different background for even rows */
}

/* Add border and padding */
.expenses tr {
    border: 1px solid #333; /* Add border to each row */
}
/* Responsive styling for mobile */


@media (max-width: 768px) {
    .expenses {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    .expenses th, .expenses td {
        padding: 8px;
    }

  
    .expenses td button {
        display: block;
        width: 100%;
        margin: 5px 0;
    }

    .pagination button {
        width: 100%;
        margin-top: 10px;
    }

    .pagination span {
        display: block;
        text-align: center;
        margin-top: 10px;
    }
}


button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination {
    text-align: center;
    margin: 20px 0;
}

.pagination button {
    margin: 0 5px;
} 