/* General table styling */
.expenses {
    width: 100%;
    max-width: 100%; 
    border-collapse: collapse; 
    margin: 0 auto;
    text-align: center; 
    overflow: hidden; 
}

.edit-icon,
.delete-icon {
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.2s; /* Optional: Add a hover effect */
}

.edit-icon:hover,
.delete-icon:hover {
    transform: scale(1.1); /* Optional: Slightly enlarge the icon on hover */
}

/* Table header */
.expenses th {
    background-color: #998877;
    color: #333;
    padding: 10px;
    border-bottom: 2px solid #333;
}

/* Table cells */
.expenses td {
    padding: 10px;
    border: 1px solid #333;
}

/* Table rows */
.expenses tr:nth-child(even) {
    background-color: #f2f2f2; 
}

.expenses tr {
    border: 1px solid #333; 
}

/* Button Styling */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
}

button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0; 
}

/* Mobile Styles */
@media (max-width: 768px) {
    .expenses {
        width: 100%;
        margin: 0 auto; 
        overflow: hidden;
        height: auto; 
    }

    .expenses td, .expenses th {
        padding: 8px;
    }

    .expenses td button {
        display: block;
        width: 100%; 
        margin: 5px 0;
    }

    .pagination button {
        flex: 1 1 auto;
        margin: 0 5px;
    }

    .pagination span {
        display: none;
    }

    .expenses td {
        white-space: normal; 
    }
}

/* Additional improvements for iPad (769px - 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
    .expenses {
        width: 100%;
        margin: 0 auto; 
        overflow: hidden; 
    }

    .container {
        max-width: 100%; 
        padding: 0 15px; 
    }

    .expenses td button {
        width: auto; 
        display: inline-block;
    }

    .pagination button {
         width: auto; 
    }

    .pagination span {
        display: inline-block;
        margin-top: 0;
    }
}

/* iPhone-specific styling */
@media (max-width: 480px) {
    .expenses th,
    .expenses td {
        font-size: 12px;
    }

    .pagination {
        justify-content: center; 
    }

    /* General button styling */
    .pagination button {
        flex-shrink: 0; 
        margin: 0 5px; 
       
    }

    .expenses td button {
        padding: 8px;
    }

    button {
        font-size: 12px;
    }

    .expenses td {
        word-wrap: break-word;
    }
}
