/* Home.module.css */
.homeContainer {
  padding: 20px;
}

.userInfo {
  margin-bottom: 20px;
}

.budgetFormContainer {
  max-width: 600px;
  margin: 0 auto;
}

.error {
  color: red;
}
.budgetFormContainer {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid red; /* Temporary border to check visibility */
  padding: 20px; /* Ensure there's some padding */
}
.userBudgetContainer {
  display: flex;
  justify-content: space-between; /* Adjust alignment as needed */
  align-items: center; /* Align items vertically center */
  margin-bottom: 20px; /* Add spacing below the row */
}

/* Style for the user info section */
.userInfo {
  font-size: 50px;
  font-weight: bold;
}

/* Style for the budget display section */
.budgetInfo {
  font-size: 80px;
  font-weight: bold;
}
.overflow-hidden {
  overflow-x: hidden;
}

.pieChartContainer h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.pieChartContainer p {
  color: #888;
  font-size: 16px;
  margin-top: 20px;
}
.pieChartContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto; /* Center the container horizontally */
  height: 500px;
  max-width: 100%; /* Ensure the container does not exceed the screen width */
  width: 100%;
}

.pieChartContainer canvas {
  max-width: 100%; /* Make the chart responsive */
  height: auto; /* Adjust the height automatically */
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}
