/* Footer Styles */
.footer {
  background-color: #f8f9fa;
  color: #000;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.pieChartWrapper {
  width: 90%;        
  max-width: 450px; 
  height: auto;     
  aspect-ratio: 1;
  margin: 0 auto;   
}

/* Footer content styling */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Center content on smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-right {
    margin-top: 10px;
  }
}

/* Social media icon styles */
.social-links a {
  margin-right: 15px;
}

.social-links a:last-child {
  margin-right: 0;
}

.icon {
  font-size: 24px;
  color: #000;
}

.footer-right a {
  color: #000;
  margin-left: 15px;
  text-decoration: none;
}

.footer-right a:first-child {
  margin-left: 0;
}

/* Ensure footer text remains visible on mobile */
@media (max-width: 576px) {
  .footer {
    padding: 10px 0;
  }

  .footer-right a {
    display: block;
    margin: 10px 0;
  }
}
