.ProfileImage {
    object-fit: cover;
    height: 120px;
    width: 120px;
    margin: 4px;
  }
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 250px;
      height: 250px;
    }
  }

.EditProfileBtn {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: #008B8B;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #333;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
  }
  
  .EditProfileBtn:hover {
    color: #fff;
    box-shadow: inset 600px 0 0 0 #333;
  }

  .EditUsernameBtn {
    width: 200px;
    height: 50px;
    margin: 10px;
    border: 1px solid black;
    background-color: #008B8B;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #333;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
  }
  
  .EditUsernameBtn:hover {
    color: #fff;
    box-shadow: inset 600px 0 0 0 #333;
  }

  .EditUserPasswordBtn {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    background-color: #008B8B;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #333;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
  }
  
  .EditUserPasswordBtn:hover {
    color: #fff;
    box-shadow: inset 600px 0 0 0 #333;
  }

  .BtnDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
  }
  
  .BtnPair {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
.CloseFormBtn {
    width: 200px;
    height: 50px;
    margin-top: 10px;
    border: 1px solid black;
    background-color: red;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #333;
    transition: ease-out 0.5s;
    font-size: 1rem;
    outline: none;
}

.SaveBtn {
    border: 1px solid black;
    background-color: #008B8B;
    color: #fff;
  }
  .image-uploader {
    text-align: center;
    margin: 20px;
}

.preview-image {
    max-width: 300px;
    margin-top: 10px;
    border: 1px solid #ddd;
    padding: 5px;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}
