/* Global Styles */
 html,body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-image: url('./assets/bg.jpg'); /* Ensure background image covers entire screen */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  
  overflow-x: hidden; /* Prevent horizontal scrolling */
}



.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.Main {
  flex: 1; 
  padding: 20px; 
  box-sizing: border-box; 
  margin-top: 60px; 
}

/* .Footer {
  background-color: #f8f9fa; 
  color: #d89e9e;
  padding: 20px 0;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  width: 100%;
  position: relative; 
} */

/* Responsive adjustments for layout */
@media (max-width: 768px) {
  .Main {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .Footer {
    padding: 15px 0; /* Adjust footer padding for smaller screens */
  }
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}